<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title || "SW4PS WEB APP" %>
    </title>
    <link rel="stylesheet" href="/css/root.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/header&footer.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <%- body %>
        </main>
    <%- include('../partials/footer') %>

    <script src="/js/dashboard.js"></script>
    <script src="/js/mobile.js"></script>
</body>

</html>