<section class="dashboard-section-title">

    <div class="dashboard-title">
        <h1>Welcome to your Dashboard, <%= user.username %>!</h1>
        <p>Here you can upload images and reels, process them, and view your outputs.</p>
    </div>

    <div class="dashboard-main-container">
        <div class="uploads-container">

            <!-- Face Upload Section -->
            <div class="upload-content">
                <div id="face-upload-area" class="upload-area">

                    <div class="content-input-container container-img">

                        <img src="../images/face-image-asset.png" alt="">

                        <div class="swap-remove-container">

                            <div class="swap-remove-btn-border">
                                <div class="swap btn  dashboard-btn">Swap</div>
                            </div>
                            <div class="swap-remove-btn-border">
                                <div class="remove btn  dashboard-btn">Remove</div>
                            </div>

                        </div>
                    </div>

                    <div class="content-description-container">
                        <div class="content-description-text">
                            <h1>UPLOAD FACE</h1>
                            <p>Upload reels here..</p>
                        </div>

                        <div class="upload-btn-container">

                            <div class="upload-png">
                                <img class="take-photo btn" src="../images/camera.png" alt="">
                            </div>
                            <div class="upload-png">
                                <img class="choose-gallery btn" src="../images/images.png" alt="">
                            </div>
                            <div class="upload-btn-border">
                                <div class="upload-btn btn dashboard-btn">Upload</div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- Reel Upload Section -->
            <div class="upload-content">
                <div id="reel-upload-area" class="upload-area">

                    <div class="content-input-container container-vid">

                        <img src="../images/phone-image-asset.png" alt="">

                        <div class="swap-remove-container">

                            <div class="swap-remove-btn-border">
                                <div class="swap btn  dashboard-btn">Swap</div>
                            </div>
                            <div class="swap-remove-btn-border">
                                <div class="remove btn  dashboard-btn">Remove</div>
                            </div>

                        </div>
                    </div>

                    <div class="content-description-container">
                        <div class="content-description-text">
                            <h1>UPLOAD REELS</h1>
                            <p>Upload reels here..</p>
                        </div>

                        <div class="upload-btn-container">
                            <div class="upload-png">
                                <img class="take-photo btn" src="../images/camera.png" alt="">
                            </div>
                            <div class="upload-png">
                                <img class="choose-gallery btn" src="../images/images.png" alt="">
                            </div>
                            <div class="upload-btn-border">
                                <div class="upload-btn btn dashboard-btn">Upload</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>


        <div class="output-container filter-blur">
            <!-- Outputs Section -->
            <div class="output-inner">
                <div class="output-title">
                    <h2>Generated Outputs</h2>
                </div>
                <div id="outputs" class="outputs-reel-container">
                    <div class="output-reel" id="output">

                        <div class="reel-video">
                            <img class="reel-icon" src="../images/reel.png" alt="">
                        </div>

                        <div class="loading-bar" style="display: none;" data-label=""></div>

                        <div class="loading-spinner"></div>

                        <a href="" class="download-icon"><img src="../images/download.png" alt=""></a>

                    </div>

                </div>
            </div>

            <!-- Processing Section -->
            <div class="process-section">
                <h2>Process & Generate</h2>

                <div class="upload-btn-border process-btn btn">
                    <div id="process-btn" class="upload-btn btn dashboard-btn">Generate</div>
                </div>

                <p id="process-status" style="display: none;">Processing...</p>
            </div>

        </div>

    </div>

</section>