<section class="hero-section">
    <div class="hero-title">
        <h1>Welcome to SW4PS</h1>
        <p>The ultimate online platform for reel and face transformations.</p>
        <a href="/auth/login" class="btn">Get Started</a>
    </div>

    <div class="hero-home-container">
        <img src="images/HERO-IMAGE-EDIT.png">
        <h2></h2>
    </div>

</section>