<h1>
    <%= title %>
</h1>

<% if (typeof error !=="undefined" && error ) { %>
    <div class="error-message">
        <p>
            <%= error %>
        </p>
    </div>
    <% } %>

        <form action="/auth/signup" method="POST">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Sign Up</button>
        </form>
        <p><a href="/auth/login">Do you have an account? Log in</a></p>