/* ------------------------ FONTS ------------------------------- */
/* ------------------------ FONTS ------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


/* ------------------------ CSS RESET -------------------------- */
/* ------------------------------------------------------------- */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: system-ui;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a,
ul,
ol {
    text-decoration: none;
    list-style: none;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */


/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    /* *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    } */
}

/* -------------------- END CSS RESET -------------------------- */
/* ------------------------------------------------------------- */

/* -------------------------- ROOT CSS ------------------------ */
/* -------------------------------------------------------------- */
:root {
    --ff-primary: "Poppins", sans-serif;

    --font-size-2xs: 0.625rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.75rem;
    --font-size-4xl: 2rem;
    --font-size-5xl: 2.25rem;
    --font-size-6xl: 2.5rem;
    --font-size-7xl: 3rem;
    --font-size-8xl: 3.5rem;
    --font-size-9xl: 4rem;
    --font-size-10xl: 4.5rem;
    --font-size-11xl: 5rem;
    --font-size-12xl: 6rem;

    --font-clamp-md: clamp(0.75rem, 0.571rem + 0.893vw, 1rem);
    --font-clamp-lg: clamp(1rem, 0.967rem + 0.175vw, 1.125rem);
    --font-clamp-xl: clamp(1.125rem, 1.077rem + 0.192vw, 1.25rem);
    --font-clamp-5xl: clamp(1.5rem, 1.212rem + 1.154vw, 2.25rem);
    --font-clamp-7xl: clamp(2rem, 1.615rem + 1.538vw, 3rem);

    --theme-clr-primary: #000000;
    --theme-clr-secondary: #151515;

    --font-clr-primary: #212121;
    --font-clr-secondary: #535353;
    --font-clr-light: #f6f6f6;

    --border-radius: 5px;

    --btn-primary-color: #0022ff;
    --btn-secondary-color: #003cff;
    --btn-border-radius: 5px;

    --header-footer-clr: ;

    --icons-download-filter-clr: invert(80%) sepia(31%) saturate(4900%) hue-rotate(61deg) brightness(111%) contrast(114%);
    --icons-download-filter-clr-hex: #39ff14;

    --max-width: 1200px;
    --gradient: ;
    --box-shadow-light: 0px 3px 6px rgba(0, 0, 0, .16);


}

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}

/* html {
    display: flex;
    justify-content: center;
} */

body {
    background-color: var(--theme-clr-primary);
    font-family: var(--ff-primary);
    font-size: var(--font-size-md);
}

main {
    margin: 0 auto;
    padding: .8rem;
    max-width: var(--max-width);
    color: var(--font-clr-light);
}

.btn {
    cursor: pointer;
}

section {
    margin: 0 auto;
    padding: 4rem 12px;
}


#particles-js {
    position: absolute;
    /* Fixed so it stays in place */
    top: 0;
    left: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    z-index: -1;
    /* Ensure it stays behind all other content */
    background-color: #000;
    /* Set your background color */
    overflow: hidden;
    /* Prevent any potential overflow issues */
}